.aboutContainer {
	padding-top: 100px;
	padding-bottom: 100px;
}

.aboutHead {
	font-size: 4rem;
	color: teal;
	padding-bottom: 30px;
	z-index: 8;
	position: relative;
}

.aboutText {
	font-size: 1.3rem;
	line-height: 2.5rem;
}
