* {
	margin: 0;
	padding: 0;
	/* font-family: "Patrick Hand", cursive; */
	font-family: "Oswald", sans-serif;
	box-sizing: border-box;
}

.intro {
	width: 100%;
	height: 100vh;
}

.home {
	width: 100%;
	height: 100vh;
	/* background-color: white; */
}

.imgMain {
	/* background-color: yellow; */
	width: 100%;
	height: 100vh;
	z-index: 3;
}

#illutstration {
	position: absolute;
	/* top: 0; */
	bottom: -67px;
	right: 80px;
	height: 100vh;
	z-index: 5;

	/* border-bottom-right-radius: 300px; */
}

#hand {
	position: absolute;
	bottom: 52px;
	right: 260px;
	height: 70%;
	z-index: 6;
	-webkit-animation: rotation 0.7s infinite ease-in-out alternate-reverse;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(-20deg);
	}

	to {
		-webkit-transform: rotate(10deg);
	}
}

.outShape {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 20%;
	background-color: #6441a5;
	z-index: 2;
}

.inShape {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	background-color: white;
	border-bottom-right-radius: 300px;
}

.ayushiName {
	position: absolute;
	top: 200px;
	left: 0;
	margin-left: 50px;
	margin-top: 80px;
	font-size: 5rem;
	font-weight: bold;
	line-height: 7rem;
	margin-top: -10px;
	color: rgb(197, 197, 197);
}

.ayushiName span {
	color: rgb(63, 37, 175);
}

.ayushiName span:hover {
	cursor: cell;
}

.ayushiName .inv {
	background-color: rgb(63, 37, 175);
	color: white;
}

.zred {
	color: white !important;
	background-color: red;
}

.zgreen {
	color: white !important;
	background-color: green;
}

.zpurple {
	color: white !important;
	background-color: purple;
}

.zteal {
	color: white !important;
	background-color: teal;
}

.zblue {
	color: white !important;
	background-color: blue;
}

// =============================================

.introW {
	height: 100vh;
	width: 100%;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23f057de' fill-opacity='0.1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
	@media (max-width: 480px) {
		height: fit-content;
	}
}

.introTextW {
	width: 70%;
	height: 100vh;
	position: absolute;
	// background-color: red;
	left: 0;
	@media (max-width: 480px) {
		width: 100%;
		height: fit-content;
		right: 0;
		height: fit-content;
		position: relative;
	}
}

.introImgW {
	width: 40%;
	height: 100vh;
	// background-color: green;
	position: absolute;
	right: 0;
	z-index: 2;
	@media (max-width: 480px) {
		width: 100%;
		height: fit-content;
		position: relative;
		top: 10px;
		text-align: right;
	}
}

.introImgW img {
	width: 70%;
	position: absolute;
	bottom: -10%;
	right: 30px;
	// background-color: yellow;
	@media (max-width: 480px) {
		bottom: 0;
		position: relative;
		margin-right: 20px;
	}
}

.introText {
	margin-top: 25vh;
	margin-left: 10%;
	margin-right: 10%;
	text-align: right;
	font-size: 4rem;
	line-height: 5rem;
	font-weight: bold;
	@media (max-width: 480px) {
		margin-top: 100px;
		font-size: 2rem;
		line-height: 2.7rem;
		text-align: left;
	}
}

.textUp {
	display: block;
	margin-top: 25vh;
	margin-left: 10%;
	margin-right: 10%;
	text-align: right;
	font-size: 400%;
	font-weight: bold;
	// line-height: 8rem;
	background-color: rebeccapurple;
	overflow: visible;
}

.textDown {
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 4rem;
	font-weight: bold;
	text-align: right;
}
