.mywork {
	width: 100%;
	padding-top: 100px;
}

.workHeading {
	text-align: center;
	color: black;
	font-size: 3rem;
	margin-bottom: 80px;
	z-index: 8;
	position: relative;
	@media (max-width: 480px) {
		font-size: 2rem;
	}
}
