.skillsContainer {
	width: 100%;
	background-color: #6441a5;
	margin-top: -20px;
	padding-top: 70px;
	border-top-left-radius: 50px;
}

.skills {
	margin: 20px 20% auto 20%;
	padding-top: 50px;
	padding-bottom: 100px;
}

.skillHeading {
	text-align: center;
	color: white;
	font-size: 3rem;
	margin-bottom: 80px;
}

.skills h3 {
	color: white;
}
